.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/background-header.webp");
  min-height: 100vh;
  position: relative;
}

.header nav {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: flex-end;
  justify-content: space-between;
}

.introduction {
  gap: 20px;
  display: grid;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  justify-content: space-between;
  grid-template-columns: 1fr auto;
}

.introduction-text p {
  max-width: 55ch;
}
