:root {
  --color-1: #000;
  --color-2: #fff;
  --color-3: #d1284f;
  --color-4: #0d1926;
  --color-5: #182d45;
}

.color-1 {
  color: var(--color-1);
}

.color-2 {
  color: var(--color-2);
}

.color-3 {
  color: var(--color-3);
}

.color-4 {
  color: var(--color-4);
}

.color-5 {
  color: var(--color-5);
}